In [58]:
import pandas as pd
import numpy as np

Header	Definition
Date:	Time From Begining of Covid
Location:	All Countries affected by Covid
Variant:	The Kind of Covid
Number Of Sequence:	Daily number of Covid Case per kind?
Perc Sequences:	Percentage of Case
Probationary:	Sometimes the character was given probationary status as an Avenger, this is the date that happened
Number Of Total:	Total Case In Each Country

In [59]:
data_raw = pd.read_csv('slovakia_data.csv')
data_to_use = data_raw.copy()
data_to_use = data_to_use.drop('Unnamed: 0',axis=1)

In [60]:
data_to_use.head()

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Slovakia,2020-05-11,Alpha,0,0.0,3
1,Slovakia,2020-05-11,B.1.1.277,0,0.0,3
2,Slovakia,2020-05-11,B.1.1.302,0,0.0,3
3,Slovakia,2020-05-11,B.1.1.519,0,0.0,3
4,Slovakia,2020-05-11,B.1.160,0,0.0,3

In [61]:
data_to_use['variant'].unique()  #explore all possible variants

array(['Alpha', 'B.1.1.277', 'B.1.1.302', 'B.1.1.519', 'B.1.160',
       'B.1.177', 'B.1.221', 'B.1.258', 'B.1.367', 'B.1.620', 'Beta',
       'Delta', 'Epsilon', 'Eta', 'Gamma', 'Iota', 'Kappa', 'Lambda',
       'Mu', 'Omicron', 'S:677H.Robin1', 'S:677P.Pelican', 'others',
       'non_who'], dtype=object)

In [62]:
variants_to_keep = 'Alpha Omicron Delta Beta'.split()

In [63]:
mask = []
for i in data_to_use['variant']:
    if i in variants_to_keep:                                       #select only rows with certain variant
        mask.append(True)
    else:
        mask.append(False)
final_data = data_to_use[mask]
final_data.reset_index(inplace=True)
final_data.drop(['location','index'], axis=1, inplace=True)

C:\Users\Julka\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [64]:
final_data.head()

         date  variant  num_sequences  perc_sequences  num_sequences_total
0  2020-05-11    Alpha              0             0.0                    3
1  2020-05-11     Beta              0             0.0                    3
2  2020-05-11    Delta              0             0.0                    3
3  2020-05-11  Omicron              0             0.0                    3
4  2020-05-25    Alpha              0             0.0                    1

In [65]:
final_data.isna().sum() #no need of imputers

date                   0
variant                0
num_sequences          0
perc_sequences         0
num_sequences_total    0
dtype: int64

In [66]:
final_data.to_csv('final_data.csv')